# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environments
.venv/
.env/

# Data and model files
*.pkl
*.joblib

# Jupyter notebooks
*.ipynb
.ipynb_checkpoints/

# Output images
*.png


notes.txt